.logo-title {
    color: rgb(255, 197, 90);
    font-size: 26px;
    font-weight: bold;
}

.color-white {
    color: white;
}

.grey-background {
    background-color: rgb(244, 244, 244);
}

a {
    text-decoration: none;
    color: white;
}

.icon {
    font-size: 30px;
}

.contacts {
    display: flex;
    gap: 20px;
    align-items: center;

    @media screen and (max-width: 550px) {    
        flex-direction: column;
    }
}

.social {
    display: flex;
    gap: 20px;
}
