header {
    background-color: rgb(106, 106, 106);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;

    @media screen and (max-width: 900px) {    
        flex-direction: column;
        height: 130px;
        padding-top: 10px;
    }

    @media screen and (max-width: 550px) {    
        height: 250px;
    }

    @media screen and (min-width: 551px) {    
        position: fixed;
    }

    @media screen and (min-width: 901px) {
        
        justify-content: space-between;
    }
}

.logo-container {
    text-align: center;

    @media screen and (min-width: 901px) {    
        margin-left: 60px;
    }
}

.time-container {
    display: flex;
    gap: 20px;
    align-items: center;

    @media screen and (min-width: 901px) {    
        margin-right: 60px;
    }
}

.phone-numbers {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 10px 0 10px;
}